// Primary colors
$primary: #1890ff;
$secondary: #e8decc;

// Secondary colors


// Alternative colors
$alternate: #9aa57f;

// Passive colors

// General colors
$dark: #000;
$light: #fff;

// Screen sizes
$desktop: 1200px;
$tabletLandscape: 1024px;
$tabletPortrait: 768px;
$phablet: 640px;
$mobile: 480px;
$bootstrapThreshold: 520px;

// misc
$headerHeight: 65px;
$footerHeight: 54px;
